<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>

<body>
    <ul>
        {% for course in courses %}
            <li>{{ course.name }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'course-create' %}"><button>Create Course</button></a>
    <a href="{% url 'students-create' %}"><button>Add Student</button></a>
    <a href="{% url 'create_course' %}"><button>Set Students</button></a>
</body>

</html>